
<!-- ============================  Navigation Start =========================== -->
 <div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner navbar-inner_1">
        <div class="container">
           <div class="navigation">
             <!-- <nav id="colorNav">
			   <ul>
				<li class="green">
					<a href="#" class="icon-home"></a>
					<ul>
						<li><a routerLink="/login" routerLinkActive="active">Login</a></li>
					    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
					    <li><a routerLink="/" routerLinkActive="active">Logout</a></li>
					</ul>
				</li>
			   </ul>
             </nav> -->
           </div>
           <a routerLink="/member" routerLinkActive="active"><img src="http://localhost:4000/images/logo.png" alt="logo"></a>
           <div class="pull-right">
          	<nav class="navbar nav_bottom" role="navigation">
 
		 <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header nav_2">
		      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"></a>
		   </div> 
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
		        <ul class="nav navbar-nav nav_1">
		            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
		            <li><a routerLink="/e/about" routerLinkActive="active">About</a></li>
		            <!-- <li><a href="about.html">About</a></li> -->
		    		<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a routerLink="/matches" routerLinkActive="active">New Matches</a></li>
		                <li><a routerLink="/viewed_profile" routerLinkActive="active">Who Viewed my Profile</a></li>
		                <li><a href="viewed-not_contacted.html">Viewed & not Contacted</a></li>
		                <li><a href="members.html">Premium Members</a></li>
		                <li><a href="shortlisted.html">Shortlisted Profile</a></li>
		              </ul>
		            </li>
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a routerLink="/search" routerLinkActive="active">Regular Search</a></li>
		                <li><a routerLink="/viewed_contacts" routerLinkActive="active">Contacts Viewed</a></li>
		                <li><a href="search-id.html">Search By Profile ID</a></li>
		                <li><a href="faq.html">Faq</a></li>
		                <li><a href="shortcodes.html">Shortcodes</a></li>
		              </ul>
		            </li>
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a routerLink="/messages" routerLinkActive="active">Inbox</a></li>
		                <li><a href="inbox.html">New</a></li>
		                <li><a href="inbox.html">Accepted</a></li>
		                <li><a href="sent.html">Sent</a></li>
		                <li><a routerLink="/upgrade" routerLinkActive="active">Upgrade</a></li>
		              </ul>
		            </li>
		            <li class="last"><a routerLink="/e/contact" routerLinkActive="active">Contacts</a></li>
		            <li class="last"><a routerLink="/logout" routerLinkActive="active">Log Out</a></li>
		            <!-- <li class="last"><a routerLink="/profile/view" routerLinkActive="active">Profile</a></li> -->
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFILE<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a routerLink="/profile/view" routerLinkActive="active">Edit Profile</a></li>
		                <li><a routerLink="/subscription/order">Subscription</a></li>
		                <!-- <li><a href="inbox.html">Settings</a></li> -->
		                
		                <li><a routerLink="/upgrade" routerLinkActive="active">Upgrade</a></li>
		              </ul>
		            </li>
		        </ul>
		     </div><!-- /.navbar-collapse -->
		    </nav>
		   </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->