<div class="footer">
    	<div class="container">
    		<div class="col-md-4 col_2">
    			<h4 class="heading">About Us</h4>
    			<p>Shaadikarlo.in is a matrimonial site.
                The purpose of this site is to find the life partner with use of technology. Shaadikarlo.in increases your horizon to find a suitable match through varities of profiles available on this plaform</p>

                <p>
                    Shaadikarlo.in एक वैवाहिक साइट है।
 इस साइट का उद्देश्य प्रौद्योगिकी के उपयोग के साथ जीवन साथी को खोजना है। Shaadikarlo.in इस फलक पर उपलब्ध प्रोफाइल की विविधता के माध्यम से एक उपयुक्त मैच खोजने के लिए आपके क्षितिज को बढ़ाता है
                </p>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4 class="heading">Help & Support</h4>
    			<ul class="footer_links">
    				<li><a (click)='route_conditionally("contact")' >Contact Us</a></li>
    				<li><a (click)='route_conditionally("faq")'>FAQs</a></li>
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4 class="heading">Quick Links</h4>
    			<ul class="footer_links">
    				<li><a (click)='route_conditionally("privacy")'>Privacy</a></li>
    				<li><a (click)='route_conditionally("terms")'>Terms & Conditions</a></li>
    				
    			</ul>
    		</div>
    		<!-- <div class="col-md-2 col_2">
    			<h4 class="heading">Social</h4>
    			<ul class="footer_social">
				  <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
			    </ul>
    		</div> -->
    		<div class="clearfix"> </div>
    		<!-- <div class="copy">
		       <p>Copyright © 2015 Marital . All Rights Reserved</p>
	        </div> -->
      </div>
</div>