<div class="footer">
    	<div class="container">
    		<div class="col-md-4 col_2">
    			<h4>About Us</h4>
    			<p>Shaadikarlo.in is a local matrimonail site.
 The main purpose of this site finding the life partner with technology. Shaadikarlo.in increases your horizon to find a suitable match through its different features and services</p>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Help & Support</h4>
    			<ul class="footer_links">
    				<li><a (click)='route_conditionally("contact")' >Contact Us</a></li>
    				<li><a (click)='route_conditionally("faq")'>FAQs</a></li>
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Quick Links</h4>
    			<ul class="footer_links">
    				<li><a (click)='route_conditionally("privacy")'>Privacy</a></li>
    				<li><a (click)='route_conditionally("terms")'>Terms & Conditions</a></li>
    				
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Social</h4>
    			<ul class="footer_social">
				  <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
			    </ul>
    		</div>
    		<div class="clearfix"> </div>
    		<div class="copy">
		       <p>Copyright © 2015 Marital . All Rights Reserved</p>
	        </div>
      </div>
</div>