.token {
    padding: 1px 3px;
    background: rgba(255,238,51,.5);
}
article{
	font-size: 15px;
	margin-top: 50px;
}
h1{
	font-size: 24px;
	text-align: center;
}

h2{
	font-size: 20px;
	margin-top:20px;
}
h4{
	margin-top: 10px;
	font-weight: bold;
}