.email_verify_container{
	height: 230px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #ddd;
	width: 100%;
	margin-top: 20px;
	background: #fff;
}


input.ng-invalid.ng-touched{
	border: 1px solid red;
}
.error-block{
	color: red;
	font-size: 12px;
}

.cust_disabled{
	background: #ddd;
	color: #888;
}

.otp_error_message{
	color: red;
	font-size: 13px;
}
.otp_not_received{
	font-size: 13px;
	color: #888;
}
.resend{
	font-size: 14px;
	font-style:italic;
	font-weight: bold;
	color: #c43b42;
	cursor: pointer;
}

.label-block{
	color: #c43b42;
	font-size: 13px;
	padding: 10px;
}