.form-group  input {
	margin: 10px 0px;
}
.btn-primary {
	background: #c43b42 !important;
}

.error-block{
	color: red;
	font-size: 12px;
}

.success{
	color: green;
	font-size: 13px;
}
.error{
	color: red;
	font-size: 13px;
}
.prize_info{
	font-size: 12px;
	color: green;
}

/*Table*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
  font-size: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}