<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Login</li>
     </ul>
   </div>
   <div class="services">
   	  <div class="col-sm-6 login_left">
	   <form>
  	    <div class="form-item form-type-textfield form-item-name">
	      <label for="edit-name">Email <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" id="edit-name" name="email" value="" size="60" maxlength="60" class="form-text required" placeholder="email"  [(ngModel)]="email" name="email">
	    </div>
	    <div class="form-item form-type-password form-item-pass">
	      <label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
	      <input type="password" id="edit-pass" name="password" size="60" maxlength="128" class="form-text required" placeholder="password" [(ngModel)]="password" name="password">
	    </div>
	    <span style="color: red; font-size: 12px;">{{loginMessage}}</span>
	    <div class="form-actions">
	    	<input type="submit" (click)=localLogin() id="edit-submit" name="op" value="Log in" class="btn_1 submit">
	    </div>
	   </form>

	   <div class="forgot-pass">
	   	<a routerLink="/password/forgot" routerLinkActive="active">Forgot password ?</a>

	   </div>
	   <div  class="forgot-pass">
			  <a routerLink="/email/verification" routerLinkActive="active"><span style="text-decoration:underline;">Verify Email</span></a>
			  </div>
	  </div>
	  <div class="col-sm-6">
	    <ul class="sharing">
			<li><a target="_blank" href="https://www.facebook.com" class="facebook" title="Facebook"><i class="fa fa-boxed fa-fw fa-facebook"></i> Share on Facebook</a></li>
		  	<li><a target="_blank" class="twitter" href="https://www.twitter.com" title="Twitter"><i class="fa fa-boxed fa-fw fa-twitter"></i> Tweet</a></li>
		  	
		  	<li><a target="_blank" href="https://www.linkedin.com" class="linkedin" title="Linkedin"><i class="fa fa-boxed fa-fw fa-linkedin"></i> Share on LinkedIn</a></li>
		  	
		</ul>
	  </div>
	  <div class="clearfix"> </div>
   </div>
  </div>
</div>
