
<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Contact</li>
     </ul>
   </div>
   <div class="grid_5">
      <p>Do you have any query, feedback or suggestion? Feel free to leave us a message.</p>
      <p>क्या आपके पास कोई प्रश्न, प्रतिक्रिया या सुझाव है? कृपया हमें लिखें</p>
      <address class="addr row">
        <dl class="grid_4">
            <!-- <dt>Address :</dt>
            <dd>
                8901 Nulla Pariatur, <br>
                Ipsum, D05 87GR.
            </dd> -->
        </dl>
        <dl class="grid_4">
            <dt>Telephones :</dt>
            <dd>
                9020912410 <br>
                
            </dd>
        </dl>
        <dl class="grid_4">
            <dt>E-mail :</dt>
            <dd><a href="malito:nitish1500kumar@gmail.com">mail(at)shaadikarlo.in</a></dd>
        </dl>
      </address>
    </div>
   </div>
</div>
<div class="about_middle">
  <div class="container">
	 <h2>Contact Form</h2>
	  <form id="contact-form" class="contact-form">
        <fieldset>
          <input type="text" class="text" placeholder="Name" name="name" ngModel required>
          <input type="text" class="text" placeholder="Mobile" name="mobile_number"  ngModel required>
          <input type="text" class="text" placeholder="Email" name="email" ngModel required>
          <textarea value="Message" placeholder="Your message..." name="message" ngModel required >Message</textarea>
          <input name="submit" type="submit" id="submit" value="Submit" (click)='post_feedback()'>
        </fieldset>
        <div *ngIf='success_message' class="success_message"> {{feedback_response}}</div>

        <div *ngIf='error_message' class="error_message"> {{feedback_response}}</div>
      </form>

  </div>
</div>
