
<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Contact</li>
     </ul>
   </div>
   <div class="grid_5">
      <p>Do you have any query, feedback or suggestion? Feel free to leave us a message.</p>
      <address class="addr row">
        <dl class="grid_4">
            <!-- <dt>Address :</dt>
            <dd>
                8901 Nulla Pariatur, <br>
                Ipsum, D05 87GR.
            </dd> -->
        </dl>
        <dl class="grid_4">
            <dt>Telephones :</dt>
            <dd>
                9020912410 <br>
                
            </dd>
        </dl>
        <dl class="grid_4">
            <dt>E-mail :</dt>
            <dd><a href="malito:nitish1500kumar@gmail.com">mail(at)shaadikarlo.in</a></dd>
        </dl>
      </address>
    </div>
   </div>
</div>
<div class="about_middle">
  <div class="container">
	 <h2>Contact Form</h2>
	  <form id="contact-form" class="contact-form">
        <fieldset>
          <input type="text" class="text" placeholder="Name" value="Name" name="name" [(ngModel)] = 'contact_form.name' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
          <input type="text" class="text" placeholder="Mobile" value="Phone" name="mobile_number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile';}" [(ngModel)] = 'contact_form.mobile_number'>
          <input type="text" class="text" placeholder="Email" value="Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" [(ngModel)] = 'contact_form.email'>
          <textarea value="Message" placeholder="Your message..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}" name="message" [(ngModel)] = 'contact_form.message'>Message</textarea>
          <input name="submit" type="submit" id="submit" value="Submit" (click)='post_feedback()'>
        </fieldset>
        <div *ngIf='success_message' class="success_message"> {{feedback_response}}</div>

        <div *ngIf='error_message' class="error_message"> {{feedback_response}}</div>
      </form>

  </div>
</div>
<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
</div>