<div class="pass_update_container">
	<div style="padding: 40px;">
		<form class="form-group" (ngSubmit)='update_password()' #f='ngForm'>
			<label>Enter new password</label>
			<input class="form-control" type="email" name="password" placeholder="New password..." ngModel required>

			<label> Re-enter new password</label>
			<input class="form-control" type="email" name="password_re" placeholder="Retype new password..." ngModel required>
			<button class="btn_1 submit">Submit</button>
		</form>
		<span style="color: red;">{{password_message}}</span>

	</div>

</div>