table td {
	width:50%
}
.premium_box{
	border: 1px solid;
	margin-top:10px;
	padding: 5px;
	background: #c43b42;
	color: #fff;
}

.profile-btn{
	padding: 10px;
	text-transform: uppercase;
	margin: 5px 0; 
	min-width: 110px;
	text-align: center;
	display: inline-grid;

}

.shared_input{
	padding: 5px;
	color: #c43b42;
	border: 1px solid #c43b42;
}