<div class="row" style="margin: 0;">
<div class="col-md-3 col-sm-3"></div>
<div class="col-md-6 col-sm-6">
<div class="pass_reset_container">
	<div style="padding: 40px;">
		<form class="form-group" (ngSubmit)='send_password_reset_link()' #f='ngForm'>
			<label> Please enter your registered email</label>
			<input class="form-control" 
			type="email" 
			name="email" 
			placeholder="your email..." 
			ngModel required 
			#email='ngModel'>

			<span *ngIf='!email.valid && email.touched' class="error-block"> Please enter a valid email</span>
			<br>
			<button class="btn_1 submit" [disabled]="!f.valid" [class.cust_disabled]="!f.valid">Submit</button>
		</form>
		
		<span style="color: green;">{{message}}</span>

	</div>

</div>
</div>
<div class="col-md-3 col-sm-3"></div>

</div>