<div class="row" style="margin: 0;">
<div class="col-md-3 col-sm-3"></div>
<div class="col-md-6 col-sm-6">
<div class="pass_reset_container" *ngIf='email_otp_form'>
	<div style="padding: 40px;">
		<form class="form-group" (ngSubmit)='send_password_reset_otp()' #f='ngForm'>
			<label class="label-block"> Please enter your registered email</label>
			<input class="form-control" 
			type="email" 
			name="email" 
			placeholder="your email..." 
			ngModel required 
			#email='ngModel'>

			<span *ngIf='!email.valid && email.touched' class="error-block"> Please enter a valid email</span>
			<br>

			<ngx-spinner [fullScreen] = "true" color="#c43b42"></ngx-spinner>

			<button class="btn_1 submit" [disabled]="!f.valid || email_response_pending" [class.cust_disabled]="!f.valid || email_response_pending">Submit</button>
		</form>
		<span class="success-block">{{success_message}}</span>

		<span class="error-block">{{error_message}}</span>

	</div>

</div>

<div class="pass_update_container" *ngIf='password_reset_form'>
	<div style="padding: 40px;">
		<form class="form-group" (ngSubmit)='update_password()' #p='ngForm'>
			<label class="label-block">Resetting password for email {{your_email}}</label>
			<br>
			
			<label>Enter otp</label>
			<input class="form-control" type="text" name="otp" placeholder="Otp..." ngModel required>

			<label>Enter new password</label>
			<input class="form-control" type="password" name="password" placeholder="New password..." ngModel required>

			<label> Re-enter new password</label>
			<input class="form-control" type="password" name="password_re" placeholder="Retype new password..." ngModel required>
			<button class="btn_1 submit">Submit</button>
		</form>
		<span class="success-block">{{password_success_message}}</span>
		<span class="error-block">{{password_error_message}}</span>

	</div>

</div>

</div>
<div class="col-md-3 col-sm-3"></div>

</div>
