
<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a [routerLink]="['/member']"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">View Profile</li>
     </ul>
   </div>
   <div class="profile">
   	 <div class="col-md-10 profile_left">
   	 	<h2>Profile Id : {{profile?.display_name}}</h2>
   	 	<div class="col_3">
   	        <div class="col-sm-8 col-md-8 row_2">
				
				<slideshow [height]="'no'"
           [minHeight]="'525px'"
           [autoPlay]="true"
           [showArrows]="false"
           [imageUrls]="imageUrlArray"
           [lazyLoad]="imageUrlArray?.length > 1"
           [autoPlayWaitForLazyLoad]="true"
           showDots="true">
			</slideshow>
			</div>
			<div class="col-sm-4 row_1">
				<table class="table_working_hours">
		        	<tbody>
		        		<tr class="opened_1">
							<td class="day_label">Age / Height :</td>
							<td class="day_value">{{profile?.dob | age}}, {{profile?.height? profile?.height:"Not Specified" }}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Last Active :</td>
							<td class="day_value">{{profile?.last_active | amTimeAgo}}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Religion :</td>
							<td class="day_value">{{profile?.religion}}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Marital Status :</td>
							<td class="day_value">{{profile?.marital_status}}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Location :</td>
							<td class="day_value">{{profile?.district}} {{profile?.state}}</td>
						</tr>
					    <tr class="closed">
							<td class="day_label">Profile Created by :</td>
							<td class="day_value closed"><span>{{profile?.profile_managed_by}}</span></td>
						</tr>
					    <tr class="closed">
							<td class="day_label">Education :</td>
							<td class="day_value closed"><span>{{profile?.higher_education}}</span></td>
						</tr>
						
						<div class="vertical profile-btn" (click)='view_photos(profile.user)'>View Photos</div>
						
						<div class="buttons">
						<!-- <div class="vertical">Send Mail</div> -->
						<div class="vertical profile-btn" routerLink="/login" routerLinkActive="active" >View Other Profiles</div>
						
						</div>

						
						
				    </tbody>
				</table>
				
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col_4">
		    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			   <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
				  <li style="width: 50%;" role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About Myself</a></li>
				  <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Partner Preference</a></li>
			   </ul>
			   <div id="myTabContent" class="tab-content">
				  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
				    <div class="tab_box about_ur_self">
				    	<h1>ABOUT ME</h1>
				    	<p>{{profile?.description}}</p>
				    </div>
				    <div class="basic_1">
				    	<h3>Basics & Lifestyle</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened_1">
									<td class="day_label">Profile Id :</td>
									<td class="day_value">{{profile?.display_name}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Age / DOB :</td>
									<td class="day_value">{{profile?.dob | age}} / {{profile?.dob|date}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Height :</td>
									<td class="day_value">{{profile?.height}}</td>
								</tr>
							    
							    <tr class="opened">
									<td class="day_label">Complexion :</td>
									<td class="day_value">{{profile?.complexion}}</td>
								</tr>

							    <tr class="opened">
									<td class="day_label">Body Type :</td>
									<td class="day_value">{{profile?.body_type}}</td>
								</tr>
							    
							    
							    <!-- <tr class="opened">
									<td class="day_label">Profile Created by :</td>
									<td class="day_value closed"><span>{{profile?.profile_managed_by}}</span></td>
								</tr>
								 -->
						    </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
				        		
				        		 <tr class="opened">
									<td class="day_label">Weight(KG) :</td>
									<td class="day_value">{{profile?.weight}} </td>
								</tr>

							    <tr class="opened">
									<td class="day_label">Blood Group :</td>
									<td class="day_value">{{profile?.blood_group}}</td>
								</tr>

				        		<tr class="opened">
									<td class="day_label">Marital Status :</td>
									<td class="day_value">{{profile?.marital_status}}</td>
								</tr>

							    <tr class="opened">
									<td class="day_label">Languages  :</td>
									<td class="day_value">{{profile?.mother_tongue}}</td>
								</tr>
							    
							   
						    </tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1">
				    	<h3>Religious / Social & Family Background</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<!-- <tr class="opened">
									<td class="day_label">Time of Birth :</td>
									<td class="day_value">Not Specified</td>
								</tr> -->
				        		
								<tr class="opened_1">
									<td class="day_label">Religion :</td>
									<td class="day_value">{{profile?.religion}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value">{{profile?.caste}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Gothra :</td>
									<td class="day_value">{{profile?.gothra}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Raasi :</td>
									<td class="day_value">{{profile?.raasi}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Brothers :</td>
									<td class="day_value">{{profile?.no_of_brothers}}<span *ngIf='profile?.brothersDescription'></span>, {{profile?.brothersDescription}}</td>
								</tr>

								<tr class="opened">
									<td class="day_label">Sisters :</td>
									<td class="day_value">{{profile?.no_of_sisters}}
										<span *ngIf='profile?.brothersDescription'></span>, {{profile?.sistersDescription}}</td>
								</tr>
							 </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
				        		
				        		<tr class="opened">
									<td class="day_label">Place of Birth :</td>
									<td class="day_value closed"><span>{{profile?.birth_place}}</span></td>
								</tr>

								
								<tr class="opened">
									<td class="day_label">Food Habit :</td>
									<td class="day_value">{{profile?.diet}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Smoke :</td>
									<td class="day_value closed"><span>{{profile?.smoke}}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Drink :</td>
									<td class="day_value closed"><span>{{profile?.drink}}</span></td>
								</tr>
								
							    <tr class="opened">
									<td class="day_label">Interets/Hobbies :</td>
									<td class="day_value closed"><span>{{profile?.interest}}</span></td>
								</tr>
								
							</tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1 basic_2">
				    	<h3>Education & Career</h3>
				    	<div class="basic_1-left">
				    	  <table class="table_working_hours" id = 'carrierDetail'>
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Occupation Detail :</td>
									<td class="day_value"><span *ngIf = 'profile?.occupation'> {{profile?.occupation}},  </span>
									<span *ngIf = 'profile?.currentWorkLocation'>Location:  {{profile?.currentWorkLocation}},  </span><span *ngIf = 'profile?.currentOrganization'> Organization: {{profile?.currentOrganization}}</span></td>
								</tr>

								<tr class="opened" *ngIf='profile.occupationDescription'>
									<td class="day_label">Other Occupation Details :</td>
									<td class="day_value"><span *ngIf = 'profile?.occupationDescription'> {{profile?.occupationDescription}}</span>
									</td>
								</tr>
				        		
				        		<tr class="opened">
									<td class="day_label">Highest Education Detail :</td>
									<td class="day_value"><span *ngIf = 'profile?.higher_education'>Degree: {{profile?.higher_education}},  </span>
									<span *ngIf = 'profile?.college_name'>Institute:  {{profile?.college_name}},  </span><span *ngIf = 'profile?.higherEducationYear'> Year: {{profile?.higherEducationYear}}</span></td>
								</tr>
				        		
								<tr class="opened">
									<td class="day_label">12th Detail :</td>
									<td class="day_value"><span *ngIf = 'profile?.twelfthSchoolName'> {{profile?.twelfthSchoolName}},  </span>
									<span *ngIf = 'profile?.twelfthSchoolBoard'>  {{profile?.twelfthSchoolBoard}},  </span><span *ngIf = 'profile?.twelfthSchoolPassYear'> {{profile?.twelfthSchoolPassYear}}, </span>
									<span *ngIf = 'profile?.twelfthSchoolPercentage'> {{profile?.twelfthSchoolPercentage}} </span>
								</td>
								</tr>
								<tr class="opened">
									<td class="day_label">10th Detail :</td>
									<td class="day_value"><span *ngIf = 'profile?.tenthSchoolName'> {{profile?.tenthSchoolName}},  </span>
									<span *ngIf = 'profile?.tenthSchoolBoard'>  {{profile?.tenthSchoolBoard}},  </span><span *ngIf = 'profile?.tenthSchoolPassYear'> {{profile?.tenthSchoolPassYear}}, </span>
									<span *ngIf = 'profile?.tenthSchoolPercentage'> {{profile?.tenthSchoolPercentage}} </span>
								</td>

								<tr class="opened" *ngIf = 'profile?.otherQualificationDetails'>
									<td class="day_label">Other Qualifications(If Any) :</td>
									<td class="day_value"><span *ngIf = 'profile?.otherQualificationDetails'> {{profile?.otherQualificationDetails}},  </span>
									
								</td>
								</tr>
							   
							    <tr class="opened">
									<td class="day_label">Self Annual Income(Lakh) :</td>
									<td class="day_value closed"><span>{{profile?.annual_income}}</span></td>
								</tr>

								<tr class="opened">
									<td class="day_label">Family Annual Income(Lakh) :</td>
									<td class="day_value closed"><span>{{profile?.family_income}}</span></td>
								</tr>

								<tr class="opened"  *ngIf='profile?.father_occupation'>
									<td class="day_label">Father Occupation :</td>
									<td class="day_value closed">{{profile?.father_occupation}}  <span *ngIf='profile?.fatherDescription'>, {{profile?.fatherDescription}}</span></td>
								</tr>


								<tr class="opened" *ngIf='profile?.mother_occupation'>
									<td class="day_label">Mother Occupation :</td>
									<td class="day_value closed">{{profile?.mother_occupation}}
									<span *ngIf='profile?.motherDescription'> , {{profile?.motherDescription}}</span></td>
								</tr>
								
							</tbody>
				          </table>
				         </div>
				         <div class="clearfix"> </div>
				    </div>
				  </div>
				  
				 <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
				 	<div>This feature is currently not available</div>
				    <!-- <div class="basic_1 basic_2">
				       <div class="basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Age   :</td>
									<td class="day_value">28 to 35</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Marital Status :</td>
									<td class="day_value">Single</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Body Type :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Complexion :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Height 5ft 9 in / 175cm :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Diet :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Kujadosham / Manglik :</td>
									<td class="day_value closed"><span>No</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Religion :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Mother Tongue :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Education :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Occupation :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Country of Residence :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">State :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Residency Status :</td>
									<td class="day_value closed"><span>Doesn't matter</span></td>
								</tr>
							 </tbody>
				          </table>
				        </div>
				    </div> -->

				 </div>
		     </div>
		  </div>
	   	</div>
   	 </div>
    <!-- <div class="col-md-2 profile_right">
     	<div class="newsletter">
		   <form>
			  <input type="text" name="ne" size="30" required="" placeholder="Enter Profile ID :">
			  <input type="submit" value="Go">
		   </form>
        </div>
        <div class="view_profile">
        	<h3>View Similar Profiles</h3>
        	<ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p5.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p6.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p7.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p8.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
       </div>
       <div class="view_profile view_profile1">
        	<h3>Members who viewed this profile also viewed</h3>
        	<ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p9.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p10.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p11.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p12.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
         </div>
        </div>
       <div class="clearfix"> </div>
    </div> -->
  </div>
</div>

<!-- <script defer src="http://localhost:4000/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="http://localhost:4000/css/flexslider.css" type="text/css" media="screen" />
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script> 
 -->

