h2{
  text-align: center;
  margin-top: 10px;
  padding: 10px 0 10px 30px;
}
h3{
  margin-top: 10px;
  padding: 10px;
  padding: 10px 0 10px 30px;
}

p{
  padding: 10px 0 10px 30px;
  font-size: 18px;
}
span{
  padding: 10px 0 10px 30px;
  font-size: 20px;
}