
<div class="grid_3">
  <div class="container ">
   <div class="breadcrumb1">
     <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Your Profile</li>
     </ul>
   </div>
   <div class="profile">
   	 <div class="col-md-10 profile_left padding-5">
   	 	<h2>Profile Id : {{profile?.display_name}}</h2>
   	 	<div class="col_3">
   	        <div class="col-sm-8 row_2">
				<div class="slideshow_wrapper">
				<slideshow
		           [minHeight]="'525px'"
		           [autoPlay]="true"
		           [showArrows]="false"
		           [imageUrls]="imageUrlArray"
		           [lazyLoad]="imageUrlArray?.length > 1"
		           [autoPlayWaitForLazyLoad]="true">
				</slideshow>
				</div>
				<div style="padding:15px;">
				<angular-file-uploader
      			[config]="afuConfig"
      			[resetUpload]=resetVar
      			(ApiResponse)="DocUpload($event)"
      			>
				</angular-file-uploader>
				</div>
			</div>

			

			<div class="col-sm-4 row_1">
				<table class="table_working_hours">
		        	<tbody>
		        		<tr class="opened_1">
							<td class="day_label">Age / Height :</td>
							<td class="day_value">{{profile?.dob | age}}, {{profile?.height}}</td>
						</tr>
					    <!-- <tr class="opened">
							<td class="day_label">Last Active :</td>
							<td class="day_value">{{profile?.last_active | amTimeAgo}}</td>
						</tr> -->
					    <tr class="opened">
							<td class="day_label">Cast/Religion :</td>
							<td class="day_value">{{profile?.caste}}, {{profile?.religion}}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Marital Status :</td>
							<td class="day_value">{{profile?.marital_status}}</td>
						</tr>
					    <tr class="opened">

							<td class="day_label">Location :</td>

							<td class="day_value" style="text-transform:capitalize;">{{profile?.district}}, {{profile?.state}}</td>
						</tr>
					    <!-- <tr class="closed">
							<td class="day_label">Profile Managed by :</td>
							<td class="day_value closed"><span>{{profile?.profile_managed_by}}</span></td>
						</tr> -->
					    <tr class="closed">
							<td class="day_label">Higher Education :</td>
							<td class="day_value closed"><span>{{profile?.higher_education}}</span></td>
						</tr>
				    </tbody>
				</table>

				<div class="vertical profile-btn" (click)='getProfileShareLink(profile._id)'>SHARE</div>

				<div [hidden] = '!display_link_box' >
							<input type="text" name="" class="shared_input" [ngModel]='shared_link'>
							<br>
							<span style="font-size: 12px; color: #c10212;">copy and send this url either using whatsapp, mail, etc.</span>
						</div>

				
			</div>
			<div class="clearfix"> </div>
			<div>
				
				<!-- <image-upload 
				[max]="1000"
				  [url]="serverUrl+'api/profile/image/upload'"
				  [headers]="{'Accept': 'application/json'}"
				  [buttonCaption]="'Upload Images!'"
				  [dropBoxMessage]="'Drop Images!'"
				  [extensions]="['jpg','png','gif']"
				  [uploadedFiles]="['https://www.iwmbuzz.com/wp-content/uploads/2019/10/these-pictures-of-tiktok-star-jannat-zubair-set-your-screens-sizzling-hot-920x518.jpg']"
				  (removed)="onRemoved($event)"
				  (uploadFinished)="onUploadFinished($event)"
				  [class]="'customClass'"
				  [partName]="image"
				  (uploadFinished)="onUploadFinished($event)"  
				  (uploadStateChanged)="onUploadStateChanged($event)" 
				  [maxFileSize]="1048576" >
				</image-upload> -->

				<!-- <div style="padding:20px;">
				<angular-file-uploader
      			[config]="afuConfig">
				</angular-file-uploader>
				</div> -->


			</div>
		</div>
		<div class="col_4">
		    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			   <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
				  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About Myself</a></li>
				  <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Partner Preferences</a></li>
			   </ul>
			   <div id="myTabContent" class="tab-content">
				  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">


				    <div *ngIf='description' class="basic_1 about_ur_self">
				    	<h3 >Tell About Yourself <span (click)= "edit('description')" class="edit-btn  glyphicon glyphicon-edit"></span></h3>
				    	<p>{{profile?.description}}</p>
				    </div>

				    <div class="row">
				    	<div class="col-md-12">
				    		
				    		<div *ngIf='edit_description' class="basic_1" id="edit_description">
				    	<form (ngSubmit)='updateLifestyle()' #f='ngForm'>
					    	<div ngModelGroup='profileData'>
					    	<textarea class="text-description" name = 'description' [ngModel]='profile.description'>
					    	
					    	</textarea>
					    	</div>

					    	<div class="row text-center">
										
								<div class="col-sm-6 col-xm-6"><button class="btn btn-primary save-btn">SAVE</button></div>
								<div class="col-sm-6 col-xm-6"><button class="btn btn-danger save-btn" (click)="cancel('description')">CANCEL</button></div>
										
							</div>

				    	</form>

				    	
				    	</div>

				    	</div>
				    	
				    </div>

				    
				    <div *ngIf='lifestyle' class="basic_1" >
				    	<h3>Basics & Lifestyle <span (click)= "edit('lifestyle')" class="edit-btn glyphicon glyphicon-edit"></span></h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened_1">
									<td class="day_label">Profile Id :</td>
									<td class="day_value">{{profile?.display_name}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label"> Name :</td>
									<td class="day_value">{{profile?.user.name}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Mobile :</td>
									<td class="day_value">{{profile?.user.mobile_number}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Email :</td>
									<td class="day_value" style="text-transform: lowercase;">{{profile?.user.email}}</td>
								</tr>
								
								<tr class="opened">
									<td class="day_label">Address :</td>
									<td class="day_value">{{profile?.addressline}}</td>
								</tr>

								<tr class="opened">
									<td class="day_label">Location :</td>
									<td class="day_value" style="text-transform:capitalize;">{{profile?.district}}, {{profile?.state}}</td>
								</tr>

								 <tr class="opened">
									<td class="day_label">Height(feet) :</td>
									<td class="day_value">{{profile?.height}}</td>
								</tr>

							    <tr class="opened">
									<td class="day_label">Marital Status :</td>
									<td class="day_value">{{profile?.marital_status}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Body Type :</td>
									<td class="day_value">{{profile?.body_type}}</td>
								</tr>
							   
							   
								
						    </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Age / DOB :</td>
									<td class="day_value">{{profile?.dob|age}} / {{profile?.dob|date}}</td>
								</tr>
								
							    <tr class="opened">
									<td class="day_label">Languages :</td>
									<td class="day_value">{{profile?.mother_tongue}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Complexion :</td>
									<td class="day_value">{{profile?.complexion}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Weight(kg) :</td>
									<td class="day_value">{{profile?.weight}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Blood Group :</td>
									<td class="day_value">{{profile?.blood_group}}</td>
								</tr>
							   
						    </tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>

				    <div class="row">
						<div class="col-md-12">
							<div *ngIf='edit_lifestyle' class="basic_1 editable-box" id="edit_lifestyle" >
				    	<h3>Basics & Lifestyle</h3>
				    	<form (ngSubmit)='updateLifestyle("lifestyle")' #f='ngForm'>
				    	<div class="col-md-6 basic_1-left width-90" ngModelGroup='profileData'>
				    		<div class="row">
				    			<div class="col-md-12">
								<h6>Name</h6>
								<div class="editable_day_value"><span><input type="text" name="name" [(ngModel)]='profile.user.name'></span></div>
								</div>
							</div>
							<div class="row">
				    			<div class="col-md-12">
								<h6>Addressline</h6>
								<div class="editable_day_value"><span><input type="text" name="addressline" [(ngModel)]='profile.addressline'></span></div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
				    			<h6>State</h6>
								<div class="col-sm-12 col-md-12 editable_day_value">
								<ngx-select-dropdown   (change)="selected_state_name()" [multiple]="false" [(ngModel)]="profile.state" name='state' [config]="state_config" [options]="state_list"></ngx-select-dropdown>
								</div>
								</div>
							</div>

							<div class="row">
				    			
				    			<div class="col-md-12">
				    				<h6>District</h6>
								<div class="col-sm-12 col-md-12 editable_day_value">
								<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.district" name='district' [config]="district_config" [options]="districts"></ngx-select-dropdown>
								</div>
								</div>
							</div>

							<div class="row">
				    			<div class="col-md-12">
								<h6>Marital Status</h6>
								<div class="col-sm-12 col-md-12 editable_day_value">
								<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.marital_status" name='marital_status' [config]="marital_status_config" [options]="marital_list"></ngx-select-dropdown>
								</div>
							</div>
							</div>

							<div class="row">
				    			<div class="col-md-12">
								<h6>Height</h6>
								<div class="col-sm-12 col-md-12 editable_day_value">
								<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.height" name='height' [config]="height_config" [options]="height_list"></ngx-select-dropdown>
								</div>
							</div>
							</div>


							<div class="row">
				    			<div class="col-md-12">
								<h6>Complexion</h6>
								<div class="col-sm-12 col-md-12 editable_day_value">
								<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.complexion" name='complexion' [config]="complexion_config" [options]="complexion"></ngx-select-dropdown>
								</div>
								</div>
							</div>
							<div class="row">
				    			<div class="col-md-12">
								<h6>Blood Group</h6>
								<div class="col-sm-12 col-md-12 editable_day_value">
								<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.blood_group" name='blood_group' [config]="bloodGroup_config" [options]="bloodGroupList"></ngx-select-dropdown>
								</div>
								</div>
							</div>
							
							<div class="row">
				    			<div class="col-md-12">
								<h6>Body Type</h6>
								<div class="col-sm-12 col-md-12 editable_day_value">
								<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.body_type" name='body_type' [config]="bodyType_config" [options]="bodyTypeList"></ngx-select-dropdown>
								</div>
							</div>
							</div>

							

							<div class="row">
							<div class="col-md-12">
								<h6>Weight(KG)</h6>
								<div class="editable_day_value"><span><input type="number" name="weight" [(ngModel)]='profile.weight'></span></div>
								</div>
							</div>

							<div class="row">
							<div class="col-md-12">
								<h6>Mother Tongue</h6>
								<div class="editable_day_value"><span><input type="text" name="mother_tongue" [(ngModel)]='profile.mother_tongue'></span></div>
							</div>
							</div>


				        
				        </div>
				        <div class="row text-center">
										
								<div class="col-sm-6 col-xm-6"><button class="btn btn-primary save-btn">SAVE</button></div>
								<div class="col-sm-6 col-xm-6"><button class="btn btn-danger save-btn" (click)="cancel('lifestyle')">CANCEL</button></div>
										
						</div>
				        </form>

				        <div class="clearfix"> </div>
				    	</div>

						</div>

				    </div>
				    

				    <div *ngIf='social' class="basic_1">
				    	<h3>Religious / Social & Astro Background <span (click)="edit('social')" class="edit-btn glyphicon glyphicon-edit"></span></h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened_1">
									<td class="day_label">Religion :</td>
									<td class="day_value">{{profile?.religion}}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value">{{profile?.caste}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Gothra :</td>
									<td class="day_value">{{profile?.gothra}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Raasi :</td>
									<td class="day_value">{{profile?.raasi}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Place of Birth :</td>
									<td class="day_value closed"><span>{{profile?.birth_place}}</span></td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Brothers :</td>
									<td class="day_value">{{profile?.no_of_brothers}}
									{{profile?.brothersDescription}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Sisters :</td>
									<td class="day_value">{{profile?.no_of_sisters}} {{profile?.sistersDescription}}</td>
								</tr>

							 </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
								
								<tr class="opened">
									<td class="day_label">Food Habit:</td>
									<td class="day_value closed"><span>{{profile?.diet}}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Smoke:</td>
									<td class="day_value closed"><span>{{profile?.smoke}}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Drink:</td>
									<td class="day_value closed"><span>{{profile?.drink}}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Interests/ Hobbies:</td>
									<td class="day_value closed"><span>{{profile?.interest}}</span></td>
								</tr>
							</tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>

				    <div class="row">
				    	<div class="col-md-12">
				    		
<div *ngIf='edit_social' class="basic_1 editable-box" id='edit_social'>
<h3>Religious / Social & Astro Background </h3>
<form (ngSubmit)='updateLifestyle("social")' #f='ngForm'>
<div class="col-md-6 basic_1-left width-90" ngModelGroup='profileData'>

 <div class="row">
 	<div class="col-md-12">
 		<h6>Religion</h6>
 		<div class="col-sm-12 col-md-12 editable_day_value">
				<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.religion" name='religion' [config]="religion_config" [options]="religion_list"></ngx-select-dropdown>
		</div>

 	</div>

 	<div class="col-md-12">
 		<h6>Caste</h6>
		<div class="col-sm-12 col-md-12 editable_day_value">
		<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.caste" name='caste' [config]="caste_config" [options]="caste_list"></ngx-select-dropdown>
		</div>
	</div>

	<div class="col-md-12">
		<h6>Gothra</h6>
	<div class="editable_day_value"><span><input type="text" name="gothra" [(ngModel)]='profile.gothra'></span></div>
	</div>

	<div class="col-md-12">
		<h6>Birth Place</h6>
	<div class="editable_day_value"><span><input type="text" name="birth_place" [(ngModel)]='profile.birth_place'></span></div>
	</div>

		<div class="col-md-12">
			<h6>Raasi</h6>
			<div class="col-sm-12 col-md-12 editable_day_value">
			<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.raasi" name='raasi' [config]="raasi_config" [options]="raasiList"></ngx-select-dropdown>
			</div>
		</div>

	<div class="col-md-12">
		<h6>Brothers</h6>
		<div class="editable_day_value"><span><input type="number" name="no_of_brothers" [(ngModel)]='profile.no_of_brothers'></span></div>
	</div>

	<div class="col-md-12">
		<h6>Brothers Description</h6>
		<div class="editable_day_value"><span><input type="text" name="brothersDescription" [(ngModel)]='profile.brothersDescription'></span></div>
	</div>

	<div class="col-md-12">
		<h6>Sisters</h6>
		<div class="editable_day_value"><span><input type="number" name="no_of_sisters" [(ngModel)]='profile.no_of_sisters'></span></div>
	</div>

	<div class="col-md-12">
		<h6>Sisters description</h6>
		<div class="editable_day_value"><span><input type="text" name="sistersDescription" [(ngModel)]='profile.sistersDescription'></span></div>
	</div>

		<div class="col-md-12">
			<h6>Food Habits</h6>
			<div class="col-sm-12 col-md-12 editable_day_value">
			<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.diet" name='diet' [config]="foodHabit_config" [options]="foodHabitList"></ngx-select-dropdown>
			</div>
		</div>

		<div class="col-md-12">
		<h6>Smoke</h6>
		<div class="col-sm-12 col-md-12 editable_day_value">
		<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.smoke" name='smoke' [config]="smoke_config" [options]="smoke_list"></ngx-select-dropdown>
		</div>
		</div>
		<div class="col-md-12">
		<h6>Drink</h6>
		<div class="col-sm-12 col-md-12 editable_day_value">
		<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.drink" name='drink' [config]="drink_config" [options]="drink_list"></ngx-select-dropdown>
		</div>
	</div>

	<div class="col-md-12">
		<h6>Interests/ Hobbies</h6>
		<div class="editable_day_value"><span><input type="text" name="interest" [(ngModel)]='profile.interest'></span></div>
	</div>
 </div>
  
	</div>
    <div class="clearfix"> </div>
    <div class="row text-center">
					
			<div class="col-sm-6 col-xm-6"><button class="btn btn-primary save-btn">SAVE</button></div>
			<div class="col-sm-6 col-xm-6"><button class="btn btn-danger save-btn" (click)="cancel('social')">CANCEL</button></div>
					
	</div>
</form>
</div>
</div>			   
</div>

    <div class="basic_1" *ngIf='education'>
    	<h3>Education & Career <span (click)="edit('education')" class="edit-btn glyphicon glyphicon-edit"></span></h3>
    	<div class="basic_1-left">
    	  <table class="table_working_hours">
        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Occupation Detail :</td>
									<td class="day_value"><span *ngIf = 'profile?.occupation'> {{profile?.occupation}},  </span>
									<span *ngIf = 'profile?.currentWorkLocation'>Location:  {{profile?.currentWorkLocation}},  </span><span *ngIf = 'profile?.currentOrganization'> Organization: {{profile?.currentOrganization}}</span></td>
								</tr>

								<tr class="opened" *ngIf='profile.occupationDescription'>
									<td class="day_label">Other Occupation Details :</td>
									<td class="day_value"><span *ngIf = 'profile?.occupationDescription'> {{profile?.occupationDescription}}</span>
									</td>
								</tr>
				        		
				        		<tr class="opened">
									<td class="day_label">Highest Education Detail :</td>
									<td class="day_value"><span *ngIf = 'profile?.higher_education'>Degree: {{profile?.higher_education}},  </span>
									<span *ngIf = 'profile?.college_name'>Institute:  {{profile?.college_name}},  </span><span *ngIf = 'profile?.higherEducationYear'> Year: {{profile?.higherEducationYear}}</span></td>
								</tr>
				        		
								<tr class="opened">
									<td class="day_label">12th Detail :</td>
									<td class="day_value"><span *ngIf = 'profile?.twelfthSchoolName'> {{profile?.twelfthSchoolName}},  </span>
									<span *ngIf = 'profile?.twelfthSchoolBoard'>  {{profile?.twelfthSchoolBoard}},  </span><span *ngIf = 'profile?.twelfthSchoolPassYear'> {{profile?.twelfthSchoolPassYear}}, </span>
									<span *ngIf = 'profile?.twelfthSchoolPercentage'> {{profile?.twelfthSchoolPercentage}} </span>
								</td>
								</tr>
								<tr class="opened">
									<td class="day_label">10th Detail :</td>
									<td class="day_value"><span *ngIf = 'profile?.tenthSchoolName'> {{profile?.tenthSchoolName}},  </span>
									<span *ngIf = 'profile?.tenthSchoolBoard'>  {{profile?.tenthSchoolBoard}},  </span><span *ngIf = 'profile?.tenthSchoolPassYear'> {{profile?.tenthSchoolPassYear}}, </span>
									<span *ngIf = 'profile?.tenthSchoolPercentage'> {{profile?.tenthSchoolPercentage}} </span>
								</td>
							   
							   	<tr class="opened">
									<td class="day_label">Other Qualifications(If Any) :</td>
									<td class="day_value"><span *ngIf = 'profile?.otherQualificationDetails'> {{profile?.otherQualificationDetails}}  </span>
									
								</td>
								</tr>

							    <tr class="opened">
									<td class="day_label">Self Annual Income(Lakh) :</td>
									<td class="day_value closed"><span>{{profile?.annual_income}}</span></td>
								</tr>

								<tr class="opened">
									<td class="day_label">Family Annual Income(Lakh) :</td>
									<td class="day_value closed"><span>{{profile?.family_income}}</span></td>
								</tr>

								<tr class="opened">
									<td class="day_label">Father Occupation :</td>
									<td class="day_value closed">{{profile?.father_occupation}}  <span *ngIf='profile?.fatherDescription'>, {{profile?.fatherDescription}}</span></td>
								</tr>

								<tr class="opened">
									<td class="day_label">Mother Occupation :</td>
									<td class="day_value closed">{{profile?.mother_occupation}}
									<span *ngIf='profile?.motherDescription'> , {{profile?.motherDescription}}</span></td>
								</tr>
							</tbody>
          </table>
         </div>
         <div class="clearfix"> </div>
    </div>

	    <div class="row" *ngIf='edit_education'>
			<div class="col-md-12">
			<div  class="basic_1 editable-box" id="edit_lifestyle" >
	    	<h3>Education & Career</h3>
	    	<form (ngSubmit)='updateLifestyle("lifestyle")' #f='ngForm'>
	    	<div class="col-md-6 basic_1-left width-90" ngModelGroup='profileData'>
			    <div class="row">
			    	
			    	<div class="col-md-12">
			    		<h6>Occupation</h6>
			    		<div class="editable_day_value">
							<div class="col-sm-12 col-md-12 dropdown_input_container">
				      		<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.occupation" name='occupation' [config]="occupation_config" [options]="occupation_list"></ngx-select-dropdown>
				      		</div>
						</div>
			    	</div>


			    	<div class="col-md-12">
			    		<h6>Current Organization Name</h6>
						<div class="editable_day_value"><span><input type="text" name="currentOrganization" [(ngModel)]='profile.currentOrganization'></span></div>
					</div>

					<div class="col-md-12">
			    		<h6>Current  WorkLocation</h6>
						<div class="editable_day_value"><span><input type="text" name="currentWorkLocation" [(ngModel)]='profile.currentWorkLocation'></span></div>
					</div>

					<div class="col-md-12">

			    		<h6>Occupation Description (If Any) </h6>
						<div class="editable_day_value"><span><input type="text" name="occupationDescription" [(ngModel)]='profile.occupationDescription'></span></div>
			    		
			    	</div>

					<div class="col-md-12">
						<h6>Higher Education</h6>
						<div class="editable_day_value">
							<div class="col-sm-12 col-md-12 dropdown_input_container">
				      		<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.higher_education" name='higher_education' [config]="education_config" [options]="education_list">
				      		</ngx-select-dropdown>
				      		</div>
						</div>
			    	</div>

			    	<div class="col-md-12">
			    		<h6>Higher Education Institute Name :</h6>
						<div class="editable_day_value">
							<input type="text" name="college_name" [(ngModel)]='profile.college_name'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>Higher Education Year :</h6>
						<div class="editable_day_value">
							<input type="number" name="higherEducationYear" min=1990 max=2021 [(ngModel)]='profile.higherEducationYear'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>12th School/college :</h6>
						<div class="editable_day_value">
							<input type="text" name="twelfthSchoolName" [(ngModel)]='profile.twelfthSchoolName'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>12th Board :</h6>
						<div class="editable_day_value">
							<input type="text" name="twelfthSchoolBoard" [(ngModel)]='profile.twelfthSchoolBoard'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>12th Year :</h6>
						<div class="editable_day_value">
							<input type="number" name="twelfthSchoolPassYear" min=1990 max=2022 [(ngModel)]='profile.twelfthSchoolPassYear'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>12th Percentage :</h6>
						<div class="editable_day_value">
							<input type="text" name="twelfthSchoolPercentage" [(ngModel)]='profile.twelfthSchoolPercentage'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>10th School/college :</h6>
						<div class="editable_day_value">
							<input type="text" name="tenthSchoolName" [(ngModel)]='profile.tenthSchoolName'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>10th Board :</h6>
						<div class="editable_day_value">
							<input type="text" name="tenthSchoolBoard" [(ngModel)]='profile.tenthSchoolBoard'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>10th Year :</h6>
						<div class="editable_day_value">
							<input type="text" name="tenthSchoolPassYear" [(ngModel)]='profile.tenthSchoolPassYear'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>10th Percentage :</h6>
						<div class="editable_day_value">
							<input type="text" name="tenthSchoolPercentage" [(ngModel)]='profile.tenthSchoolPercentage'>
						</div>
					</div>

					<div class="col-md-12">
			    		<h6>Other Qualifications(If Any) :</h6>
						<div class="editable_day_value">
							<input type="text" name="otherQualificationDetails" [(ngModel)]='profile.otherQualificationDetails'>
						</div>
					</div>


			    	<div class="col-md-12">
			    		<h6>Annual Self Income (Lakh)</h6>
			    		<div class="editable_day_value">
							<input type="number" name="annual_income" min=0 [(ngModel)]='profile.annual_income'>
						</div>
			    	</div>

			    	<div class="col-md-12">
			    		<h6>Annual Family Income (Lakh)</h6>
			    		<div class="editable_day_value">
							<input type="number" name="family_income" min= 0 [(ngModel)]='profile.family_income'>
						</div>
			    	</div>

			    	<div class="col-md-12">
			    		<h6>Father Occupation</h6>
			    		<div class="editable_day_value">
							<div class="col-sm-12 col-md-12 dropdown_input_container">
				      		<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.father_occupation" name='father_occupation' [config]="occupation_config" [options]="occupation_list"></ngx-select-dropdown>
				      		</div>
						</div>
			    	</div>

			    	<div class="col-md-12">
			    		<h6>About Father</h6>
			    		<div class="editable_day_value">
							<input type="text" name="fatherDescription" [(ngModel)]='profile.fatherDescription'>
						</div>
			    	</div>

			    	<div class="col-md-12">
			    		<h6>Mother Occupation</h6>
			    		<div class="editable_day_value">
							<div class="col-sm-12 col-md-12 dropdown_input_container">
				      		<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="profile.mother_occupation" name='mother_occupation' [config]="occupation_config" [options]="occupation_list"></ngx-select-dropdown>
				      		</div>
						</div>
			    	</div>

			    	<div class="col-md-12">
			    		<h6>About Mother</h6>
			    		<div class="editable_day_value">
							<input type="text" name="motherDescription" [(ngModel)]='profile.motherDescription'>
						</div>
			    	</div>

			    </div>
			</div>

			<div class="row text-center">
							
					<div class="col-sm-6 col-xm-6"><button class="btn btn-primary save-btn">SAVE</button></div>
					<div class="col-sm-6 col-xm-6"><button class="btn btn-danger save-btn" (click)="cancel('lifestyle')">CANCEL</button></div>
							
			</div>

			</form>

			</div>
			</div>
		</div>
		<!-- Partner Section starts -->
		<!-- <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
		    <div class="basic_1" *ngIf='partner' >
		    	<h3><span (click)="edit('partner')" class="edit-btn">EDIT</span></h3>
		       <div class="basic_1-left">
		    	  <table class="table_working_hours">
		        	<tbody>
		        		<tr class="opened">
							<td class="day_label">Age   :</td>
							<td class="day_value">{{profile?.partner.min_age}} to {{profile?.partner.max_age}}</td>
						</tr>
		        		<tr class="opened">
							<td class="day_label">Marital Status :</td>
							<td class="day_value">Single</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Body Type :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Complexion :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Height 5ft 9 in / 175cm :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>basic
						<tr class="opened">
							<td class="day_label">Diet :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Kujadosham / Manglik :</td>
							<td class="day_value closed"><span>No</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Religion :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Caste :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Mother Tongue :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Education :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Occupation :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Country of Residence :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">State :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Residency Status :</td>
							<td class="day_value closed"><span>Doesn't matter</span></td>
						</tr>
					 </tbody>
		          </table>
		        </div>
		     </div>
		 	<div *ngIf='edit_partner' class="basic_1 editable-box" id='edit_partner'>
				<form (ngSubmit)='updateLifestyle("partner")' #f='ngForm'>
					<div class="col-md-6 basic_1-left width-90" ngModelGroup='profileData'>
					<table class="table_working_hours">
			    	<tbody>
			    		<tr class="opened">
							<td class="day_label">Minimum Age :</td>
							<td class="day_value"><input type="text" name="profile.partner.min_age" ngModel></td>
						</tr>

						<tr class="opened">
							<td class="day_label">Maximum Age :</td>
							<td class="day_value"><input type="text" name="partner.max_age" ngModel></td>
						</tr>
						
						 <tr class="opened_1">
							<td class="day_label">Marital Status :</td>
							<td class="day_value">
								<select [(ngModel)]='profile.marital_status' name='marital_status' class="select-dropdown">
						            <option *ngFor='let m of marital_list'
						            	[value]='m.key'>{{m.value}}
						            </option>
						            
								</select>
							</td>
						</tr>

						<tr class="opened">
							<td class="day_label">Occupation :</td>
							<td class="day_value"><input type="text" name="occupation" [ngModel]='profile.occupation'></td>
						</tr>

						<tr class="opened_1">
							<td class="day_label">Body Type :</td>
							<td class="day_value">
								<select [(ngModel)]='profile.body_type' name='body_type' class="select-dropdown">
						            <option *ngFor='let b of body_type_list'
						            	[value]='b.key'>{{b.value}}
						            </option>
						            
								</select>
							</td>
						</tr>
					    
					    <tr class="opened">
							<td class="day_label">Height :</td>
							<td class="day_value"><input type="text" name="height" [ngModel]='profile.height'></td>
						</tr>
					    
					    <tr class="opened">
							<td class="day_label">Profile Created by :</td>
							<td class="day_value closed"><span>
								<input type="text" 
								name="created_by" ngModel></span></td>
						</tr>
						<tr class="opened">
							<td class="day_label">Drink :</td>
							<select [(ngModel)]='profile.drink' name='drink' class="select-dropdown">
						            <option *ngFor='let d of drink_list'
						            	[value]='d.key'>{{d.value}}
						            </option>
						            
								</select>
						</tr>
				    
					    <tr class="opened">
							<td class="day_label">Mother Tongue :</td>
							<td class="day_value"><input type="text" name="mother_tongue" [ngModel]='profile.mother_tongue'></td>
						</tr>
					    

						<tr class="opened_1">
							<td class="day_label">Complexion :</td>
							<td class="day_value">
								<select [(ngModel)]="profile.complexion" name='complexion' class="select-dropdown">
								    <option *ngFor="let comp of complexion" [value]="comp.key">
								      {{comp.value}}
								    </option>
								</select>
							</td>
						</tr>

					    <tr class="opened">
							<td class="day_label">Weight(kg) :</td>
							<td class="day_value"><input type="number" name="weight" [ngModel]='profile.weight' min='30'></td>
						</tr>
					  
						 <tr class="opened_1">
							<td class="day_label">Blood Group :</td>
							<td class="day_value">
								<select [(ngModel)]='profile.blood_group' name='blood_group' class="select-dropdown">
						            <option *ngFor='let bg of blood_group'
						            	[value]='bg.key'>{{bg.value}}
						            </option>
						            
								</select>
							</td>
						</tr>

					    <tr class="closed">
							<td class="day_label">Diet :</td>
							<td class="day_value closed"><span><input type="text" name="diet" [ngModel]='profile.diet'></span></td>
						</tr>
					    <tr class="closed">
							<td class="day_label">Smoke :</td>
							<select [(ngModel)]='profile.smoke' name='smoke' class="select-dropdown">
						            <option *ngFor='let s of smoke_list'
						            	[value]='s.key'>{{s.value}}
						            </option>
						            
								</select>
						</tr>
				    </tbody>
			   		</table>
			        <div class="btn_wrapper">
						<div class="save_btn_wrapper"><button class="btn save-btn">SAVE</button></div>
						<div class="cancel_btn_wrapper"><button (click)="cancel('social')" class="btn cancel-btn">CANCEL</button></div>
					</div>
				    </div>
				    <div class="clearfix"> </div>
			    </form>
			</div>
		</div> -->

		<!-- Partner Sections ends -->
	</div>
	</div>
	</div>
   	</div>
    <!-- <div class="col-md-2 profile_right">
     	<div class="newsletter">
		   <form>
			  <input type="text" name="ne" size="30" required="" placeholder="Enter Profile ID :">
			  <input type="submit" value="Go">
		   </form>
        </div>
        <div class="view_profile">
        	<h3>View Similar Profiles</h3>
        	<ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p5.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p6.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p7.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p8.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
       </div>
       <div class="view_profile view_profile1">
        	<h3>Members who viewed this profile also viewed</h3>
        	<ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p9.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p10.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p11.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img [src]="serverUrl+'images/p12.jpg'" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
         </div>
        </div>
       <div class="clearfix"> </div>
    </div> -->
    <div class="basic_1">
				    	<h3>Your Photos</h3>
				    	<div class="basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>

				        		<tr *ngFor='let photo of profile_photos ' style="border: 1px solid #ccc; padding: 1px; margin: 5px;">
								            <td><img [src]="photo" class="profile_img_lst" /></td>
								            <td><button type="button" class="btn btn-danger btn-sm" (click)='deletePhoto(photo)'>
          										<span class="glyphicon glyphicon-trash"> DELETE</span></button></td>
								</tr>
								            
							 </tbody>
				          </table>
				         </div>
				         <div class="clearfix"> </div>
</div>

  </div>

</div>



<!-- <script defer src="http://localhost:4000/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="http://localhost:4000/css/flexslider.css" type="text/css" media="screen" />
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script> 
 -->
