<!-- <app-header></app-header> -->
<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Regular Search </li>
     </ul>
   </div>
   <!--<script type="text/javascript">
    $(function () {
     $('#btnRadio').click(function () {
          var checkedradio = $('[name="gr"]:radio:checked').val();
          $("#sel").html("Selected Value: " + checkedradio);
      });
    });
   </script>-->
<div class="col-md-9 search_left">

  <form  (ngSubmit)= 'userRegularSearch()' #f='ngForm'>	
   <div ngModelGroup = 'queryData'>
  
  <!-- <div class="form_but1">
  <label class="col-sm-5 control-lable1" for="sex">Age : </label>
  <div class="col-sm-7 form_radios">
    <div class="col-sm-5 input-group1">
        <input class="form-control has-dark-background" name="min_age" id="slider-name" placeholder="20" type="text" ngModel>
      </div>
      <div class="col-sm-5 input-group1">
        <input class="form-control has-dark-background" name="max_age" id="slider-name" placeholder="30" type="text" ngModel>
      </div>
      <div class="clearfix"> </div>
  </div>
  <div class="clearfix"> </div>
  </div>
 -->

 <div class="form_but1">
    <div class="row">
      <label class="col-sm-4 col-md-4 control-lable1">Age</label>

      <div class="col-sm-4 col-md-4 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="minAge" name='minAge' [config]="min_age_config" [options]="min_age_list_dropdown"></ngx-select-dropdown>
      </div>

      <div class="col-sm-4 col-md-4 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="maxAge" name="maxAge" [config]="max_age_config" [options]="max_age_list_dropdown"></ngx-select-dropdown>
      </div>
    </div>
  </div>

  <div class="form_but1">
    <div class="row">
      <label class="col-sm-4 col-md-4 control-lable1">Height</label>

      <div class="col-sm-4 col-md-4 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="minHeight" name="minHeight" [config]="min_height_config" [options]="min_height_list"></ngx-select-dropdown>
      </div>

      <div class="col-sm-4 col-md-4 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="maxHeight"  name="maxHeight" [config]="max_height_config" [options]="max_height_list"></ngx-select-dropdown>
      </div>
    </div>
  </div>

<div class="form_but1">
    <div class="row">
      <label class="col-sm-4 col-md-4 control-lable1">Religion</label>

      <div class="col-sm-8 col-md-8 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="search_religion" name='religion' [config]="religion_config" [options]="religion_search_list"></ngx-select-dropdown>
      </div>
      
    </div>
</div>


<div class="form_but1">
    <div class="row">
      <label class="col-sm-4 col-md-4 control-lable1">Caste</label>

      <div class="col-sm-8 col-md-8 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="true" [(ngModel)]="search_caste" name ='cast' [config]="caste_config" [options]="caste_search_list"></ngx-select-dropdown>
      </div>
      
    </div>
</div>

<div class="form_but1">
    <div class="row">
      <label class="col-sm-4 col-md-4 control-lable1">State</label>

      <div class="col-sm-8 col-md-8 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="state_search" name='state' [config]="state_config" [options]="indian_state"></ngx-select-dropdown>
      </div>
      
    </div>
</div>


<div class="form_but1">
    <div class="row">
      <label class="col-sm-4 col-md-4 control-lable1">District</label>

      <div class="col-sm-8 col-md-8 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="true" [(ngModel)]="district_search" name='district' [config]="district_config" [options]="district_list"></ngx-select-dropdown>
      </div>
      
    </div>
</div>



<div class="form_but1">
    <div class="row">
      <label class="col-sm-4 col-md-4 control-lable1">Highest Education</label>
      <div class="col-sm-8 col-md-8 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="true" [(ngModel)]="education_search" name='education' [config]="education_config" [options]="education_list"></ngx-select-dropdown>
      </div>
      
    </div>
</div>


<div class="form_but1">
    <div class="row">
      <label class="col-sm-4 col-md-4 control-lable1">Occupation</label>

      <div class="col-sm-8 col-md-8 sm_search_container">
      <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="true" [(ngModel)]="occupation_search" name='occupation' [config]="occupation_config" [options]="occupation_list"></ngx-select-dropdown>
      </div>
      
    </div>
</div>

  



  
  

  
  <!-- <div class="form_but1">
    <label class="col-sm-5 control-lable1" for="sex">Mother Tongue : </label>
    <div class="col-sm-7 form_radios">
      <div class="select-block1">
        <select>
            <option value="">Hindi</option>
            <option value="">English</option>
           
        </select>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div> -->
  <!-- <div class="form_but1">
	<label class="col-sm-5 control-lable1" for="sex">Show Profile : </label>
	<div class="col-sm-7 form_radios">
		<input type="checkbox" class="radio_1" /> with Photo &nbsp;&nbsp;
	</div>
	<div class="clearfix"> </div>
  </div> -->
  <!-- <div class="form_but1">
	<label class="col-sm-5 control-lable1" for="sex">Don't Show : </label>
	<div class="col-sm-7 form_radios">
		<input type="checkbox" class="radio_1" /> Ignored Profiles &nbsp;&nbsp;
		<input type="checkbox" class="radio_1" checked="checked" /> Profiles already Contacted
	</div>
	<div class="clearfix"> </div>
  </div> -->
  
  <div class="form-actions">
          <input type="submit" id="edit-submit"  name="op" value="Search" class="btn_1 submit">
        </div>

  </div>
 </form>

</div>
<!-- <div class="col-md-3 match_right">
	<div class="profile_search1">
	   <form>
		  <input type="text" class="m_1" name="ne" size="30" required="" placeholder="Enter Profile ID :">
		  <input type="submit" value="Go">
	   </form>
   </div>
   <section class="slider">
	 <h3>Happy Marriage</h3>
	 <div class="flexslider">
		<ul class="slides">
		  <li>
			<img src="images/s2.jpg" alt=""/>
			<h4>Lorem & Ipsum</h4>
			<p>It is a long established fact that a reader will be distracted by the readable</p>
		  </li>
		  <li>
			<img src="images/s1.jpg" alt=""/>
			<h4>Lorem & Ipsum</h4>
			<p>It is a long established fact that a reader will be distracted by the readable</p>
		  </li>
		  <li>
			<img src="images/s3.jpg" alt=""/>
			<h4>Lorem & Ipsum</h4>
			<p>It is a long established fact that a reader will be distracted by the readable</p>
		  </li>
	    </ul>
	  </div>
   </section>
   <div class="view_profile view_profile2">
        	<h3>View Similar Profiles</h3>
        	<ul class="profile_item">
        	  <a href="view_profile.html">
        	   <li class="profile_item-img">
        	   	  <img src="images/p5.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="view_profile.html">
        	   <li class="profile_item-img">
        	   	  <img src="images/p6.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="view_profile.html">
        	   <li class="profile_item-img">
        	   	  <img src="images/p7.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="view_profile.html">
        	   <li class="profile_item-img">
        	   	  <img src="images/p8.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
       </div>
     </div>
     <div class="clearfix"> </div>
  </div>
</div> -->

<!-- <app-footer></app-footer> -->