.search_left{
	font-size: 18px;
}
.search_left select{
	
	color: #000;
}
.search_left input {
	font-size: 18px;
}

.custom-class{
	font-size:12px;
}

.sm_search_container{
	padding: 5px 0px;
	font-size: 15px;

}



