
<div class="grid_3">
  <div class="container" *ngIf='registerForm'>
   <div class="breadcrumb1">
     <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Register</li>
     </ul>
   </div>
   <div class="services">
   	  <div class="col-sm-6 login_left">
	     <form (ngSubmit)='userRegister(f)' #f='ngForm'>

	     	<div ngModelGroup='userData'>
		  	    <div class="form-group">
			      <label for="edit-name">Name <span class="form-required" title="This field is required.">*</span></label>
			      <input 
			      type="text" 
			      ngModel 
			      name="name" 
			      size="60" maxlength="60" class="form-text required"
			      required
			      #name='ngModel'>

			    <span class="help-block" *ngIf='!name.valid && name.touched'>Please enter a valid Name</span>

			    </div>


			    <div ngModelGroup='passwordData'>
				    <div class="form-group">
				      <label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
				      <input 
				      type="password" ngModel
				      name="password" 
				      size="60" maxlength="128" 
				      class="form-text required"
				      required 
				      #password='ngModel'>
				    </div>

				     <span class="help-block" *ngIf='!password.valid && password.touched'>Please enter a valid password</span>

				     
				     <div class="form-group">
				      <label for="edit-pass">Retype Password <span class="form-required" title="This field is required.">*</span></label>
				      <input 
				      type="password" ngModel 
				      name="password_re" 
				      size="60" maxlength="128" 
				      class="form-text required"
				      required
				      #password_re='ngModel'
				      >
				    </div>
				</div>

			    
			    <div class="form-group">
			      <label for="edit-email">Email <span class="form-required" title="This field is required.">*</span></label>
			      <input type="email" 
			      ngModel
			      name="email"
			      id="email"
			      size="60" 
			      maxlength="60" 
			      class="form-text required"
			      required
			      email 
			      #email="ngModel"
			      >
			       <span class="help-block" *ngIf='!email.valid && email.touched'>Please enter a valid email</span>

			    </div>
			   
			    <div class="form-group">
			      <label for="edit-name">Mobile <span class="form-required" title="This field is required.">*</span></label>
			      <input 
			      type="text" 
			      ngModel
			      name="mobile" 
			      size="60" maxlength="60" class="form-text required"
			      required
			      #mobile='ngModel'
			      >
			       <span class="help-block" *ngIf='!mobile.valid && mobile.touched'>Please enter a valid mobile</span>
			    </div>

			    <div class="form-group">
			    	<label for="edit-pass">Date of Birth <span class="form-required" title="This field is required.">*</span></label>
			    	<my-date-picker ngModel name ='dob' [options]="myDatePickerOptions"
	                (dateChanged)="onDateChanged($event)"
	                [selDate]="selectedDate" required 
	                #dob='ngModel'
	                ></my-date-picker>
	                 <span class="help-block" *ngIf='!dob.valid && dob.touched'>Please select date of birth </span>
					    	</div>
			    
	                
	              <div class="form-group form-group1">
	                <label class="col-sm-7 control-lable" for="sex">Gender : </label>
	                <div class="col-sm-5">
	                    <div class="radios"  >
	                    	<div *ngFor= "let g of genders">
					        <!-- <label for="radio-01" class="label_radio"> -->
					            <input type="radio" 
					            ngModel 
					            name="gender" 
					            [value]='g' 
					            required 
					            #gender='ngModel'> {{g}}
					        <!-- </label> -->

					        <span class="help-block" *ngIf='!gender.valid && gender.touched'>Please select a gender</span>
					    	</div>
					        
		                </div>
	                </div>
	                <div class="clearfix"> </div>
	             </div>
				  <!-- <div class="form-group">
				     <label for="edit-name">Subject <span class="form-required" title="This field is required.">*</span></label>
					 <textarea class="form-control bio" placeholder="" rows="3"></textarea>
				  </div> -->
			</div>
			 
			
			 
			 
			  <div class="form-actions">
			    <input type="submit" id="edit-submit" name="op" value="Register" class="btn_1 submit" [disabled]="!f.valid" [class.cust_disabled]="!f.valid">
			  </div>

			  <div *ngIf = 'showLoader'>
		 		<img [src]="'../../assets/images/loader.gif'" class="img-responsive" alt="" style="height: 100px;width: auto;" />
		 	</div>

			 
		 </form>
		 <br>
		 <span style="color:red;">{{errorMessage}}</span>

	  </div>

	  <div class="col-sm-6">
	     <ul class="sharing">
			<li><a href="#" class="facebook" title="Facebook"><i class="fa fa-boxed fa-fw fa-facebook"></i> Share on Facebook</a></li>
		  	<li><a href="#" class="twitter" title="Twitter"><i class="fa fa-boxed fa-fw fa-twitter"></i> Tweet</a></li>
		  	<li><a href="#" class="google" title="Google"><i class="fa fa-boxed fa-fw fa-google-plus"></i> Share on Google+</a></li>
		  	<li><a href="#" class="linkedin" title="Linkedin"><i class="fa fa-boxed fa-fw fa-linkedin"></i> Share on LinkedIn</a></li>
		  	<li><a href="#" class="mail" title="Email"><i class="fa fa-boxed fa-fw fa-envelope-o"></i> E-mail</a></li>
		 </ul>
	  </div>
	  <div class="clearfix"> </div>
   	
  </div>

  	

	  <!-- <div *ngIf='showOtp' class="form-group" style="text-align: center;">
			      <label for="edit-name">Enter the OTP sent to your email <span class="form-required" title="This field is required."></span></label>
			      <input type="text" id="edit-name" [(ngModel)]="input_otp" name="name" value="" size="60" maxlength="60" class="form-text required" style="max-width: 30%;font-size: 30px;font-weight: 600;margin: 0 auto;height: 50px;text-align: center;">
	  			<span style="color: red;">{{otpMessage}}</span>
	  			<div class="form-actions" style="text-align: center;">
				    <input type="submit" id="edit-submit" (click)="verifyOtp()" value="Submit" class="btn_1 submit">
				  </div>
	  </div>

  	
	  
	  <div *ngIf='successTick' class="form-group" style="text-align: center;">
			      <img src="https://media.tenor.com/images/771577ac99bc46709e85e2f8ad5376ea/tenor.gif">
	  </div>
 -->


</div>
<div class="row" style="margin:0px;" *ngIf = 'show_verification_msg' >
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4" style="height: 80px; padding: 10px; background: #c43b42;">
		<span style="color:white;">{{registerMessage}}</span>
	</div>
	
</div>

</div>