
<div class="grid_3">
  <div class="container" *ngIf='registerForm'>
   <div class="breadcrumb1">
     <ul>
        <a [routerLink]="['/member']"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Register</li>
     </ul>
   </div>
   <div class="services">
   	  <div class="col-sm-6 login_left">
	     <form (ngSubmit)='userRegister(f)' #f='ngForm'>

	     	<div ngModelGroup='userData'>
		  	    <div class="form-group">
			      <label for="edit-name">Name <span class="form-required" title="This field is required.">*</span></label>
			      <input 
			      type="text" 
			      ngModel 
			      name="name" 
			      size="60" maxlength="60" class="form-text required"
			      required
			      #name='ngModel'>

			    <span class="help-block" *ngIf='!name.valid && name.touched'>Please enter a valid Name</span>

			    </div>


			    <div ngModelGroup='passwordData'>
				    <div class="form-group">
				      <label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
				      <input 
				      type="password" ngModel
				      name="password" 
				      size="60" maxlength="128" 
				      class="form-text required"
				      required 
				      #password='ngModel' pattern="^[a-zA-Z0-9!@#\$%\^\&*\)\(+=._-]{6,}$">
				    </div>

				     <span class="help-block" *ngIf='!password.valid && password.touched'>Password should be atleast 6 character long</span>
				     

				     
				     <div class="form-group">
				      <label for="edit-pass">Retype Password <span class="form-required" title="This field is required.">*</span></label>
				      <input 
				      type="password" ngModel 
				      name="password_re" 
				      size="60" maxlength="128" 
				      class="form-text required"
				      required
				      #password_re='ngModel'
				      (change) = 'comparePassword()'
				      >
				    </div>

				    <span class="help-block" *ngIf='password.touched && password_msg'>{{password_msg}}</span>
				</div>

			    
			    <div class="form-group">
			      <label for="edit-email">Email <span class="form-required" title="This field is required.">*</span></label>
			      <input type="email" 
			      ngModel
			      name="email"
			      id="email"
			      size="60" 
			      maxlength="60" 
			      class="form-text required"
			      required
			      email 
			      #email="ngModel"
			      >
			       <span class="help-block" *ngIf='!email.valid && email.touched'>Please enter a valid email</span>

			    </div>
			   
			    <div class="form-group">
			      <label for="edit-name">Mobile <span class="form-required" title="This field is required.">*</span></label>
			      <input 
			      type="text" 
			      ngModel
			      name="mobile" 
			      size="60" maxlength="60" class="form-text required"
			      required
			      #mobile='ngModel'
			      pattern="^[6-9]\d{9}$" 
			      >
			       <span class="help-block" *ngIf='!mobile.valid && mobile.touched'>Please enter a valid mobile</span>
			    </div>

			    <div class="form-group">
			    	<label for="edit-pass">Date of Birth <span class="form-required" title="This field is required.">*</span></label>
			    	<my-date-picker ngModel name ='dob' [options]="myDatePickerOptions"
	                (dateChanged)="onDateChanged($event)"
	                [selDate]="selectedDate" required 
	                #dob='ngModel'
	                ></my-date-picker>
	                 <span class="help-block" *ngIf='!dob.valid && dob.touched'>Please select date of birth </span>

	                 <span class="help-block" *ngIf='dob_message'>{{dob_message}} </span>
				</div>
			    
	                
	              <div class="form-group form-group1">
	                <label class="col-sm-7 control-lable" for="sex">Gender : </label>
	                <div class="col-sm-5">
	                    <div class="radios"  >
	                    	<div *ngFor= "let g of genders">
					        <!-- <label for="radio-01" class="label_radio"> -->
					            <input type="radio" 
					            ngModel 
					            name="gender" 
					            [value]='g' 
					            required 
					            #gender='ngModel'> {{g}}
					        <!-- </label> -->

					        <span class="help-block" *ngIf='!gender.valid && gender.touched'>Please select a gender</span>
					    	</div>
					        
		                </div>
	                </div>
	                <div class="clearfix"> </div>
	             </div>

				  

				  <div ngModelGroup = 'addressData'>

				  	<div class="form-group">
				     <label for="edit-name">Address <span class="form-required" title="This field is required.">*</span></label>
					 <textarea class="form-control bio" placeholder="" rows="2" ngModel name='addressline' #addressline = ngModel pattern = '^[ A-Za-z0-9_@./,#&-]{5,200}$' required></textarea>
					 <span class="help-block" *ngIf='!addressline.valid && addressline.touched'>Address length should be greater than 4 characters
			       </span>
			      
				  	</div>

				  <div class="row" style="margin: 0">
				  <div class="form-group form-group1 col-md-6">
			      <label for="edit-name">State <span class="form-required" title="This field is required.">*</span></label>
			      <select ngModel name='state' class="select-dropdown form-text" #state='ngModel' (change)='selected_state_name()' required>
								            <option *ngFor='let s of state_list'
								            	[value]='s.key'>{{s.value}}
								            </option>
								            
        			</select>


			       <span class="help-block" *ngIf='!state.valid && state.touched'>Please select a state name
			       </span>

			    </div>

			    <div class="form-group form-group1 col-md-6">
			      <label for="edit-name">District <span class="form-required" title="This field is required.">*</span></label>
			      <select ngModel name='district' class="select-dropdown form-text" #district='ngModel' required>
								            <option *ngFor='let d of districts'
								            	[value]='d'>{{d}}
								            </option>
								            
        			</select>


			       <span class="help-block" *ngIf='!district.valid && district.touched'>Please select a state name
			       </span>

			    </div>
			    </div>

				  </div>

			</div>
			 <p style="font-size: 11px; "><a style="color: #c43b42; text-decoration: underline;" href="/terms" target="_blank">By clicking on register you agree to our terms and conditions </a></p>
			  <div class="form-actions">
			    <input type="submit" id="edit-submit" name="op" value="Register" class="btn_1 submit" [disabled]="!f.valid" [class.cust_disabled]="!f.valid">
			  </div>
			  <br>
			  <div *ngIf='verify_email_btn'>
			  <a routerLink="/email/verification" routerLinkActive="active"><span style="text-decoration:underline;">Verify Email</span></a>
			  </div>

			  <div *ngIf = 'showLoader'>
		 		<img [src]="'../../assets/images/loader.gif'" class="img-responsive" alt="" style="height: 100px;width: auto;" />
		 	</div>

			 
		 </form>
		 <br>
		 <span style="color:red;">{{errorMessage}}</span>

	  </div>

	  <div class="col-sm-6">
	     <ul class="sharing">
			<li><a target="_blank" href="https://www.facebook.com" class="facebook" title="Facebook"><i class="fa fa-boxed fa-fw fa-facebook"></i> Share on Facebook</a></li>
			
		  	<li><a target="_blank" class="twitter" href="https://www.twitter.com" title="Twitter"><i class="fa fa-boxed fa-fw fa-twitter"></i> Tweet</a></li>
		  	
		  	<li><a target="_blank" href="https://www.linkedin.com" class="linkedin" title="Linkedin"><i class="fa fa-boxed fa-fw fa-linkedin"></i> Share on LinkedIn</a></li>
		 </ul>
	  </div>
	  <div class="clearfix"> </div>
   	
  </div>

  	

	  <!-- <div *ngIf='showOtp' class="form-group" style="text-align: center;">
			      <label for="edit-name">Enter the OTP sent to your email <span class="form-required" title="This field is required."></span></label>
			      <input type="text" id="edit-name" [(ngModel)]="input_otp" name="name" value="" size="60" maxlength="60" class="form-text required" style="max-width: 30%;font-size: 30px;font-weight: 600;margin: 0 auto;height: 50px;text-align: center;">
	  			<span style="color: red;">{{otpMessage}}</span>
	  			<div class="form-actions" style="text-align: center;">
				    <input type="submit" id="edit-submit" (click)="verifyOtp()" value="Submit" class="btn_1 submit">
				  </div>
	  </div>

  	
	  
	  <div *ngIf='successTick' class="form-group" style="text-align: center;">
			      <img src="https://media.tenor.com/images/771577ac99bc46709e85e2f8ad5376ea/tenor.gif">
	  </div>
 -->


</div>
<div class="row" style="margin:0px;" *ngIf = 'show_verification_msg' >
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4" style="text-align: center;">
		<span style="color:#c43b42; font-size: 14px;">{{registerMessage}} </span>

		<ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>

		<span style="color: red; font-size: 14px;">{{otp_error_msg}}</span>
		<!-- <a class="popup-with-zoom-anim order-btn" style="background: #c43b42;">SUBMIT</a> -->
		<span style="color: green;font-size: 14px;">{{otp_success_msg}}</span>
		
            <div class="resend_box"> <span>Didn't receive the code? </span> <a style="color: #c43b42;cursor: pointer;" (click) = "resendOtp()">RESEND</a>
            </div>

	</div>
	
</div>

</div>